:root {
    --background-color: lightgray;
    --light-color: #5e92a2;
    --dark-color: #2e2b2b;

}

* {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-color);
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
}

.section {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-bottom: 25px;
}

.section  h2 {
    display: flex;
    justify-content: flex-end;
    min-width: 175px;
    padding-right: 10px;
    border-right: 5px solid var(--dark-color);
    margin: 5px;
}

.section ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;

}

.section p {
    max-width: 85%;
    padding: 15px;
}

  
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    width: 100%;
    
}

header h1{
    color: var(--dark-color);
    background-color: var(--light-color);
    font-size: 200%;
    padding-right: 1%;
    padding-left: 5%;
    display: flex;

}
nav {
    background-color: var(--dark-color);
}

nav ul {
   display: flex;
   justify-content: space-between;
   min-width: 300px;
   list-style: none;
   background-color: var(--dark-color);
}

nav li {
    padding: 10px;
    background-color: var(--dark-color);
    
}
nav a {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bold;
    font-size: large;
    text-decoration: none;
  }

nav a:hover {
    color: rgba(255, 255, 255, 1);
}

.card {
    display: flex;
    position: relative;
    max-width: auto;
}


.subtitle {
    display: inline;
    position: absolute;
    left: 5px;
    bottom: 25px;
    padding-left: 5px;
    padding-right: 15px;
    background-color: var(--light-color);
    color: var(--dark-color);
    width: auto;
}

.subtitle h3, .subtitle p {
    background-color: var(--light-color);
    text-align: center;
    height: 10px;
}

.subtitle p {
    font-style: italic;
}

.card a {
    min-width: 150px;
    max-width: 400px;
}

.card img {
    border: 5px solid var(--light-color);
    min-width: 150px;
    max-width: 400px;
    
}

.card img:hover {
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(145, 92, 182, .15);
    box-shadow: 5px 5px 15px var(--dark-color);
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-direction: colum;
    flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }

    .section ul {
        flex-direction: column;
        padding: 5px;
    }

    main {
      max-width: 1200px;
    }
  }

  @media screen and (max-width: 540px) {
    
    header ul {
        justify-content: flex-start;
    }
    
    .section {
        justify-content: flex-end;
    }

    .card img {
        max-width: 70%;
    }

    .card a {
        min-width: 100px;
        max-width: 100px;
    }

    .subtitle {
        display: inline;
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .subtitle h3 {
        position: relative;
        background-color: var(--light-color);
        text-align: center;
        width: auto;
        font-size: small;
    }

    .subtitle p  {
        display: none;
    }

    .card a {
    min-width: 150px;
    max-width: 400px;
}

  }